{% extends 'base.html.twig' %}

{% block title %}Guillaume GOUBEL{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}

	{# PARAMETERS #}
	<div id="project-infos-AJAX" data-url="{{path('app_project_infos')}}"></div>
	<div id="interest-infos-AJAX" data-url="{{path('app_interest_infos')}}"></div>
	{# PARAMETERS #}

	<!-- Navigation-->
	{% include "partials/nav.html.twig" %}

	<!-- Page Content-->
	<div class="container index-container p-0">
		
		<!-- Project Abstract-->
		<section class="resume-section hidden" id ="project-abstract-container">
			
			<div class="resume-section-content">
				
				<a href="{{ path('app_login') }}" id="login-access"><button class="btn btn-sm btn-outline-success">Accès Bo</button></a>
				
				<p>
					{{ 'abstract'|trans|raw }}
				</p>
				
				<strong><i class="fa-solid fa-gears"></i>{{ 'technologies utilisées pour ce site'|trans|raw }}</strong>
				
				<code>
					<ul class="mt-3">
						<li class="list-unstyled"><strong>Back-end</strong></li>
						<li>Symfony 6</li>
						<li>Php 8</li>
					</ul>
					<ul>
						<li class="list-unstyled"><strong>Front-end</strong></li>
						<li>Javascrip Vanilla</li>
						<li>Bootstrap 5</li>
						<li>Webpack Encore</li>
					</ul>
				</code>

				<hr>
			</div>
			
		</section>

		<!-- About-->
		<section class="resume-section" id="about">
			
			<div class="resume-section-content">
				
				<div class="d-flex align-items-center">
					<div class="d-flex align-items-center flex-column">
						<img class="main-logo-gg" src="{{ asset('img/logo/logo.png') }}" alt="logo-gg-developpeur-web">
					</div>

					<h1 class="mb-0">
						Guillaume
						<span class="text-secondary main-title">GOUBEL</span>					
					</h1>
				</div>

				<div class="subheading mb-5">
					<small>Développeur Web</small></br>
					59510 Hem, France
					<a class="text-secondary" href="mailto:guillaume.goubel.pro@gmail.com">guillaume.goubel.pro@gmail.com</a>
				</div>
				
				<p class="lead mb-5">
					{% include "home/components/about/about_" ~ app.request.getLocale() ~ ".html.twig" %}
				<p>

			</div>
		</section>
		<hr class="m-0" />

		<!-- Experience-->
		<section class="resume-section" id="experience">
			<div class="resume-section-content">
				{% include "home/components/experience/experience_" ~ app.request.getLocale() ~ ".html.twig" %}
			</div>
		</section>
		<hr class="m-0" />

		<!-- Education-->
		<section class="resume-section" id="education">
			<div class="resume-section-content">
				{% include "home/components/education/education_" ~ app.request.getLocale() ~ ".html.twig" %}
			</div>
		</section>
		<hr class="m-0" />

		<!-- Skills-->
		<section class="resume-section" id="skills">
			<div class="resume-section-content">
				{% include "home/components/skills/skills_" ~ app.request.getLocale() ~ ".html.twig" %}
			</div>
		</section>
		<hr class="m-0" />

		<!-- Projects-->
		<section class="resume-section" id="awards">
			<div class="resume-section-content">
				{% include "home/components/project/project_" ~ app.request.getLocale() ~ ".html.twig" with {'projects': projects} %}
			</div>
		</section>
		<hr class="m-0" />

		<!-- Interests-->
		<section class="resume-section" id="interests">
			<div class="resume-section-content">
				
				<h2 class="mb-2">{{ (app.request.getLocale() == 'fr') ? 'Intérêts' : 'Interest' }}</h2>
				
				<div id="grid" class="grid-container">
					{% for interest in interests %}
						
						<div class="griditem interest-card" 
							style=" background-image: url(' {{ asset('img/interest/' ~ interest.image) | imagine_filter('thumb_one') }} ');"
							data-id="{{ interest.id }}"
							>
						<button class="play">
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
						</button>
						
						</div>

					{% endfor %}
				</div>
			</div>

		</section>

	</div>

	{# MODALS #}
	{% include "home/components/project/_project_infos_modal.html.twig" %}
	{% include "home/components/interest/_interest_infos_modal.html.twig" %}

{% endblock %}
