{% extends 'base.html.twig' %}

{% block title %}Guillaume GOUBEL{% endblock %}

{% block body %}
	    
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
		
		<a class="navbar-brand js-scroll-trigger" href="#page-top">
			<span class="d-block d-lg-none">Guillaume Goubel</span>
			<span class="d-none d-lg-block">
				<img class="img-fluid img-profile rounded-circle mx-auto mb-2" 
				src="{{ asset('img/profile.jpg') }}" alt="my_photo" />
			</span>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav">
				
				<li>
					<div id="langage-choice-list">
						
						<select class="form-select" id="language-choice-select">
							<option value="{{path('app_home' , {'_locale': 'fr'})}}" {{ app.request.getLocale() == 'fr' or app.request.getLocale() == null ? 'selected' : '' }}>🇫🇷&emsp;</option>
							<option value="{{path('app_home' , {'_locale': 'en'})}}" {{ app.request.getLocale() == 'en' ? 'selected' : '' }}>🇬🇧&emsp;</option>
						</select>
						
						<div class="form-check form-switch" id="theme-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="theme-choice">
						</div>
						
					</div>
				</li>
				
				{% include "home/components/menu/menu_" ~ app.request.getLocale() ~ ".html.twig" %}
			</ul>
		</div>

	</nav>

	<!-- Page Content-->
	<div class="container p-0">
		
		<!-- Project Abstract-->
		<section class="resume-section hidden" id ="project-abstract-container">
			
			<div class="resume-section-content">
				
				<a href="{{ path('app_login') }}"><button class="btn btn-sm btn-primary">Bo</button></a>
				
				<p>
					{{ 'abstract'|trans|raw }}
				</p>
				
				<strong><i class="fa-solid fa-gears"></i>{{ 'technologies utilisées pour ce site'|trans|raw }}</strong>
				
				<code>
					<ul class="mt-3">
						<li class="list-unstyled"><strong>Back-end</strong></li>
						<li>Symfony 6</li>
						<li>Php 8</li>
					</ul>
					<ul>
						<li class="list-unstyled"><strong>Front-end</strong></li>
						<li>Javascrip Vanilla</li>
						<li>Bootstrap 5</li>
						<li>Webpack Encore</li>
					</ul>
				</code>

				<hr>
			</div>
		</section>

		<!-- About-->
		<section class="resume-section" id="about">
			
			<div class="resume-section-content">
				<h1 class="mb-0">
					Guillaume
					<span class="text-secondary">GOUBEL</span>					
				</h1>
				<div class="subheading mb-5">
					59510 Hem, France
					<a class="text-secondary" href="mailto:guillaume.goubel.pro@gmail.com">guillaume.goubel.pro@gmail.com</a>
				</div>
				
				<p class="lead mb-5">
					{% include "home/components/about/about_" ~ app.request.getLocale() ~ ".html.twig" %}
				<p>

			</div>
		</section>
		<hr class="m-0" />

		<!-- Experience-->
		<section class="resume-section" id="experience">
			<div class="resume-section-content">
				{% include "home/components/experience/experience_" ~ app.request.getLocale() ~ ".html.twig" %}
			</div>
		</section>
		<hr class="m-0" />

		<!-- Education-->
		<section class="resume-section" id="education">
			<div class="resume-section-content">
				{% include "home/components/education/education_" ~ app.request.getLocale() ~ ".html.twig" %}
			</div>
		</section>
		<hr class="m-0" />

		<!-- Skills-->
		<section class="resume-section" id="skills">
			<div class="resume-section-content">
				{% include "home/components/skills/skills_" ~ app.request.getLocale() ~ ".html.twig" %}
			</div>
		</section>
		<hr class="m-0" />

		<!-- Interests-->
		<section class="resume-section" id="interests">
			<div class="resume-section-content">
				<h2 class="mb-5">Interests</h2>
				<p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
				<p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
			</div>
		</section>
		<hr class="m-0" />

		<!-- Projects-->
		<section class="resume-section" id="awards">
			<div class="resume-section-content">
				{% include "home/components/project/project_" ~ app.request.getLocale() ~ ".html.twig" %}
			</div>
		</section>

	</div>

{% endblock %}
