<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    
    <a class="navbar-brand js-scroll-trigger" href="#about">
        
        <span class="d-block d-lg-none">Guillaume Goubel
            <img class="img-fluid img-profile-mobile rounded-circle mx-1" 
            src="{{ asset('data/img/profile/profile.png') }}" alt="my_photo" />
        </span>

        <span class="d-none d-lg-block">
            <img class="data/img-fluid img-profile rounded-circle mx-auto mb-2" 
            src="{{ asset('data/img/profile/profile.png') }}" alt="my_photo" />
        </span>

    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            
            <li class="mb-4">
                <div id="langage-choice-list">
                    
                    {# share url #}
                    <div class="copy-url">
                        <form>
                            <input type="hidden" value="https://guillaume-goubel.fr">
                            <button type="button"><i class="fa-solid fa-share-nodes"></i></button>
                        </form>
                    </div>
                    
                    {# switch theme #}
                    <div class="form-check form-switch" id="theme-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="theme-choice">
                    </div>

                    {# switch language #}
                    <select class="form-select" id="language-choice-select">
                        <option value="{{path('app_home' , {'_locale': 'fr'})}}" {{ app.request.getLocale() == 'fr' or app.request.getLocale() == null ? 'selected' : '' }}>🇫🇷&emsp;</option>
                        <option value="{{path('app_home' , {'_locale': 'en'})}}" {{ app.request.getLocale() == 'en' ? 'selected' : '' }}>🇬🇧&emsp;</option>
                    </select>
                    
                </div>
            </li>

            {% include "home/components/menu/menu_" ~ app.request.getLocale() ~ ".html.twig" %}
        </ul>
    </div>

</nav>