<h2 class="mb-2">Projects</h2>
			
<div class="content">
    
    <div class="row w-100 d-contents">
    
        {% for project in projects %}
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-center justify-content-center my-2 project-container">
                <div class="card project-card" data-id="{{ project.id }}">
                    <div class="img">
                        <i class="{{ project.icon }}" style="color:{{ project.bgColor }}"></i>
                    </div>
                    <div class="abstract">
                        <h2>{{project.name}}</h2>
                        <p>{{project.abstractEn}}</p>
                    </div>
                </div>
                <button class="play">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                </button>
            </div>

        {% endfor %}

    </div>

</div>